<div class="section">
<div class="home-main">
  <div class="col-md-6 col-md-offset-6">
    <h2>
    Discover and create Stories.
  </h2>
  <%= link_to "Learn more", '/about', :class =>"btn btn-primary btn-success" %>
  </div>
</div>
<div class="home-supporting">
	<h2>
    Stories
  </h2>
  <p>
    Make it a memory.
  </p>
</div>
<div class="discover">
	<h2>
    Discover your story
  </h2>
   <%= link_to "Learn more", '/about', :class =>"btn btn-primary btn-success" %>
</div>