<div class="main">
  <div class ="supporting">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2>
      Stories
    </h2>
           <br />
           <br />
    <p>
      what makes the world go 'round.
    </p>
          <br />
           <br />
          <%= link_to "Sign Up", '/signups', :class =>"btn btn-success" %>
        </div>
    </div>
  </div>
</div>