<div class="main">
  <div class ="supporting">
    <h2>
      Stories
    </h2>
    <p>
      what makes the world go 'round.
    </p>
    <a href="#" class="btn btn-primary">Signup</a>
  </div>
</div>