// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
  background: url('http://imgur.com/PRjnaCi.jpg') no-repeat center center fixed;
  background-size:cover;
  height:700px;
  width:100%;
  padding-top:5%;
}

h2{
  text-align:center;
}
p{
  margin: 0 auto;
}
a{
  
}
.col-md-4{
  text-align:center;
}
