/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  color:white;
}
* {
    padding: 0px;
    margin: 0px;
}

#menubar {
    width:100%;
    background-color:#000;
    color: black;
    padding: 10px;
}

#button {
  cursor:pointer;
}

#menu, #right {
    display:inline;
}

#menu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

#right {
    width:100%;
    z-index: 5;
    position: fixed;
    left: 0px;
    height: 25%;
    -webkit-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0);
        moz-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0);
          o-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0);
            box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0);
}

#right p {
    padding: 10px;
}

#menu {
    float:left;
    width: 350px;
    height: 10%;
}

#menu li {
    background-color: black;
    border-bottom: 1px solid #888;
}