// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* This is quoted CSS styling for the Js Menu from the JSFiddle example */ 
.section{
  background:url('http://imgur.com/eTAtSsO.jpg') no-repeat center center fixed;
  background-size:cover;
  padding-top:5%;
  height:700px;
}
.home-main{
}
.home-supporting{
}
.discover{
}