// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* This is quoted CSS styling for the Js Menu from the JSFiddle example */ 
.section{
}
.home-main{
  height:700px;
   background:url('http://imgur.com/eTAtSsO.jpg') no-repeat center center fixed;
  background-size:cover;
  height:700px;
  width:100%;
  padding-top:5%;
}
.home-supporting{
  height:700px;
   background:url('http://imgur.com/6hh0Ega.jpg') no-repeat center center fixed;
  background-size:cover;
 	width:100%;
}
.discover{
   background:url('http://imgur.com/y5R1ytG.jpg') no-repeat center center fixed;
  background-size:cover;
  height:700px;
  width:100%;
}