// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* This is quoted CSS styling for the Js Menu from the JSFiddle example */ 
* {
    padding: 0px;
    margin: 0px;
}

#menubar {
    width:100%;
    background-color:#444;
    color: #fff;
    padding: 10px;
}

#button {
  cursor:pointer;
  display:inline-block;
}

#menu, #right {
    display:inline;
}

#menu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

#right {
    width:100%;
    background-color: #fff;
    z-index: 5;
    position: fixed;
    left: 0px;
    height: 25%;
    -webkit-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
        moz-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
          o-box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow:  -5px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

#right p {
    padding: 10px;
}

#menu {
    float:left;
    width: 350px;
    height: 10%;
}

#menu li {
    background-color:#444;
    border-bottom: 1px solid #888;
}