// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup{
  background: url('http://imgur.com/sf03EtK.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100%;
  width:100%;
}
.thanks{ background:url("http://imgur.com/y5R1ytG.jpg") no-repeat center center fixed;
  height:100%;
  width:100%;
  font-weight:bold;
}
h2{
  padding-top:25%;
  font-weight:light;
}
form{
  text-align:center;
  margin:0 auto;
  padding-top:15%;
}